

.sidebar-view-topic {
  width: 312px;
  height: 345px;
  --post-line-color: #ccc;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  color: #878A8C;
  position: relative;
  border-radius: 4px;
  padding: 5px 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.topic-text{
  padding: 10px 10px 10px 20px;
}

.topic-text:hover{
  background-color: lightgray;
}

a{
  text-decoration: none;
  color: gray;
}

.view-all-container {
  margin-top: 20px;
}

.view-all {
  padding: 5px 20px;
}

.view-all:hover {
  background-color: lightgray;
}

.topic-title{
  color: black;
  font-weight: bold;
  padding: 10px 10px 0 20px;
}
